<h1>Editing Book</h1>
<!-- form_with部分-->
<%= form_with model: Book.new do |f| %>
<p>Title</p>
<%= f.text_field :title %>


<p>Body</p>
<%= f.text_area :body %>
<textarea>より良いコードを書くためのシンプルで実践的なテクニック</textarea>

<%= f.submit 'Update Book' %>
<% end %>

<a href="/books/1">Show</a>
|
<a href="/books">Back</a>
