<p>
    <strong>Title:</strong>
    リーダブルコード
</p>
<p>
    <strong>Body:</strong>
    より良いコードを書くためのシンプルで実践的なテクニック
</p>
<a href="/books/1/edit">Edit</a>
|
<a href="/books">Back</a>
</p>

<p>
    <strong>Title:</strong>
    トラブル知らずのシステム設計
</p>
<p>
    <strong>Body:</strong>
    システム設計の要点を図解で説明してくれます
</p>
<a href="/books/2/edit">Edit</a>
|
<a href="/books">Back</a>
</p>